---
import Header from '@components/header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-secondary w-4/5 m-auto">
		<Header />
		<main class="mt-32 text-white">
			<section id="home">
			</section>
			<section id="services"></section>
			<section id="us"></section>
			<section id="contact"></section>
		</main>
	</body>
</html>
