---
import Header from '@components/Header.astro'
import Hero from '@components/Hero.astro'
import Reasons from '@components/Reasons.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DevGenie Studio</title>
		<!-- Incluye Typed.js desde el CDN -->
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

		<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

	</head>
	<body class="bg-secondary w-3/5 m-auto">
		<Header />
		<main class="mt-32 text-white">
			<section id="home">
				<Hero />
			</section>
			<section id="reasons" class="flex">
				<Reasons />
			</section>
			<section id="services"></section>
			<section id="us"></section>
			<section id="contact"></section>
		</main>
		</div>
	</body>
</html>
