---
import Header from '@components/Header.astro'
import Hero from '@components/Hero.astro'
import Reasons from '@components/Reasons.astro'
import Services from '@components/Services.astro'
import About from '@components/About.astro'
import Contact from '@components/Contact.astro'
---

<html lang="es" class="">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CrafterSites Studio</title>
		<!-- CDN Typed.js -->
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
		<!-- CDN Font Awesome -->
		<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
	</head>
	<body class="bg-secondary lg:w-3/5 w-10/12 m-auto">
		<Header />
		<main class="lg:mt-32 mt-24 text-white w-full">
			<section id="home">
				<Hero />
			</section>
			<section id="reasons" class="relative">
				<Reasons />
			</section>
			<section id="services">
				<Services />
			</section>
			<section id="about">
				<About />
			</section>
			<section id="contact">
				<Contact />
			</section>
		</main>
		</div>
	</body>
</html>

<style>
	.no-scroll {
  overflow: hidden;
}
</style>