<div class="w-full">
  <h1 class="text-5xl font-bold text-center my-20">Conócenos</h1>
  <div class="flex gap-8 justify-center items-center">
    <p class="w-2/4">En DevGenie Studio, nuestra misión es impulsar el éxito de tu marca en el mundo digital. Creemos en la creación de productos web excepcionales que no solo cumplen con tus expectativas, sino que las superan. Nuestra visión es ser líderes en innovación digital, ofreciendo soluciones que transforman la experiencia en línea de nuestros clientes. Confía en nuestro equipo de expertos en desarrollo web para llevar tu visión a la realidad y alcanzar juntos nuevos horizontes digitales.</p>
    <a class="css-peeps"></a>
  </div>
</div>

<style>
  @import url(https://unpkg.com/css-peeps@1/css-peeps.css);

  a {
    --peep-head: pomp;
    --peep-face: smile-big;
    --peep-accessory: glasses3;
    --peep-body: polkadot-jacket;

    --peep-skin-color: #f0f0f0;
    --peep-clothes-color: #9ecdef;

    --peep-flipped: 1;
    --peep-body-offset-x: 79px;
    --peep-body-offset-y: -2px;

    display: inline-block;
    width: 333px;
    height: 304px;
    background: transparent;
    border-radius: 10px;
  }
</style>