---
export let title = "DevGenie Studio";
---

<header class="bg-">
  <h1 class="text-white text-3xl">{title}</h1>
  <nav class="mt-4">
    <ul class="flex list-none">
      <li class="mr-4"><a href="/" class="text-">Inicio</a></li>
      <li class="mr-4"><a href="#services" class="text-white">Servicios</a></li>
      <li class="mr-4"><a href="#us" class="text-white">Nosotros</a></li>
      <li><a href="#contact" class="text-white">Contacto</a></li>
    </ul>
  </nav>
</header>

