<header class="bg-secondary bg-opacity-50 justify-between items-center py-4 backdrop-blur hidden md:flex">
  <h1 class="text-white text-4xl">
    <span class="text-primary font-bold">DevGenie</span> Studio
  </h1>
  <nav class="rounded-3xl px-16 py-8">
    <ul class="text-white text-2xl uppercase flex list-none items-center gap-10">
      <li class="hover:text-primary hover:font-bold">
        <a href="/">Inicio</a>
      </li>
      <li class="hover:text-primary hover:font-bold">
        <a href="#services">Servicios</a>
      </li>
      <li class="hover:text-primary hover:font-bold">
        <a href="#about">Nosotros</a>
      </li>
      <li class="hover:text-primary hover:font-bold">
        <a href="#contact">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let lastScrollTop = 0;
    const header = document.querySelector("header");

    // Styles
    header.style.position = 'fixed';
    header.style.top = '0';
    header.style.width = '60%';
    header.style.zIndex = '1000';
    header.style.transition = 'transform 0.3s, opacity 0.3s';

    window.addEventListener("scroll", function() {
      const currentScroll = window.pageYOffset || document.documentElement.scrollTop;

      if (currentScroll > lastScrollTop) {
        // If user scroll down, it hides the header
        header.style.transform = 'translateY(-100%)';
        header.style.opacity = '0';
      } else {
        // If user scroll up or are at the top, it shows the header
        header.style.transform = 'translateY(0)';
        header.style.opacity = '1';
      }

      // Update last scroll position for next time
      lastScrollTop = currentScroll;
    });
  });
</script>



